TITLE_EXTENSION="$(ProjectName)"
DESCRIPTION_EXTENSION="This nuget package contains extensions and types that we often use in our projects and streams. We would like to reuse these things more consistently and make them available to other people."
NOTES_EXTENSION=""
TAGS_EXTENSION="Extension Useful IoC Semaphore Threading Activation for loop help helpfull"