AUTHORS="NoobDevTv (Marcus Aurelius &amp; susch19)"
TITLE="$(ProjectName)"
COPYRIGHT="NoobDevTv"
COMPANY="NoobDevTv"
NOTES=""
REPO_URL="https://github.com/NoobDevTv/NonSucking.Framework.Extension"
TAGS_RX="Extension Useful IoC Semaphore Threading Activation for loop help helpfull Rx Ix Reactive Interactive"
DESCRIPTION_RX="This nuget package contains extensions and types that we often use in our projects and streams in combination with .NET Reactive and .NET Interactive. We would like to reuse these things more consistently and make them available to other people."