TITLE_SERIALIZATION="$(ProjectName)"
DESCRIPTION_SERIALIZATION="This nuget package contains a generator for binary serialization and deserialization. This process can be customized by the user with the help of many attributes."
NOTES_SERIALIZATION=""
TAGS_SERIALIZATION="Extension Useful Serialize Serialization Deserialize Deserialization help helpfull Generator SourceGenerator"